.container{
    display: flex;
    margin-top: 15px;
}

.booksList{
    width: 100%;
}

.favoriteList{
    width: 30%;
    height: fit-content;
    background-color: #6c3cc6;
    margin-left: 20px;
    border-radius: 15px;
    padding: 10px 15px;
}

.favoriteList > p{
    font-size: 1.5rem;
    margin-bottom: 20px;
}